* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* menu */
header {
    background-color: rgba(62, 29, 29, 0.466);
    padding: 20px 25px;
}

nav {
    display: inline-block;
    width: calc(100% - 103px);
    text-align: right;
}
nav ul {
    list-style-type: none;

}
nav ul li {
    display: inline-block;
    margin: 10px 25px;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;

}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}
nav ul li a:hover {
    background-color: white;
    color: black;
}
/* menu altındaki resim kısmı */
.resim {
    background-position: top;
    padding: 12px;
    height: 850px;
    width: 100%;
    background-size: cover;
}
.btn-s1 {
    margin-left: 37%;
    margin-top: 20%;
    background-color: #E94560;
    color: white;
    padding: 25px 20px;
    font-size: 20px;
    border-radius: 6px;
    transition: color 1s;
}
.btn-s1:Hover {
    color: black;
}
/* card */

#section-2 {
    display: flex;
    justify-content: space-around;
    margin: 200px 0;
    
}
.card {
    width: 20%;
    box-shadow: 0 8px 12px 0 rgba(3, 219, 231, 0.4);
    border-radius: 6px;
}
.card:hover {
    opacity: 0.7;
}
.container {
    padding: 5px 20px;  
}
.container p{
    margin: 15px 0;
}
img {
    border-radius: 6px 6px 0 0;
    width: 100%;
}
p {
    font-size: 19px;
}
@media (max-width:768px) {
    
}
.iletisim{
    text-align: center;
}


footer {
    background-color: black;
    color: wheat;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;

}








